.content {
	height: 100%;
	padding: 20rpx;
	box-sizing: border-box;
	
	.header {
		position: relative;
		height: 70rpx;
		width: 100%;
		
		.submit-btn {
			font-size: 28rpx;
			width: 160rpx;
			height: 70rpx;
			line-height: 70rpx;
			background: $uni-color-theme;
			color: #fff !important;
			position: absolute;
			right: 0;
			top: 0;
		}
		
		button::after {
			border: none;
		} 
		
		button[disabled]{
			background-color: #bcbcbc !important;
		}
	}
	
	.footer-editor {
		height: calc(100% - 80rpx);
	}
}
